<div class="container">
    <div class="dashboardevents">
        <a href="#/addevents">
            <button>Add Event</button>
        </a>
         <a href="#/addphotos">
            <button>Add Image</button>
        </a>
        <br>
        <div class="events" ng-controller="EventsCtrl">
            <ul ng-repeat="e in events | orderBy: 'order'">
                <li>
                    <br> {{ e.locname}}
                    <br>  {{ e.date }}
                    <br> {{ e.time }}
                    <br> {{ e.location}}
                    <br>

                    <button class="del-btn" ng-click="deleteMe(e.objectId, $index)">X</button>
                </li>
            </ul>
        </div>

        <div class="events" ng-controller="PhotoCtrl">
            <ul ng-repeat="p in photos | orderBy: 'order'">
                <li>
                    <br> 
                    <img src="{{ p.imglink}}" alt="">
                  
             

                    <button class="del-btn" ng-click="deleteMe(p.objectId, $index)">X</button>
                </li>
            </ul>
        </div>
    </div>
</div>
