<div class="container">
    <div class="dashboardevents">
        <a href="#/addevents">
            <button>Add Event</button>
        </a>
        <br>
        <div class="events" ng-controller="EventsCtrl">
            <ul ng-repeat="e in events">
                <li>
                    <br> {{ e.locname}}
                       <br>  {{ e.date }}
                    <br> {{ e.time }}
                    <br> {{ e.location}}
                    <br>
                    <button ng-click="deleteMe(e.objectId, $index)">X</button>
                </li>
            </ul>
        </div>
    </div>
</div>
