<div class="container">


<div class="contact">
	<h2>Contact Us!</h2>
	<h3>Email Us! <a href="mailto:dominicspaintings@gmail.com">info@dominicsNewYorkpizza.com </a></h3>
	<h3>Call Us! 404-683-4195</h3>


	<p>Dominic's NY Pizza is NOT simply a pizza trailer, we are a mobile restaurant.  That means we can prepare any food that can be cooked with fire.  If your event calls for hamburgers, hot dogs, sausage & pepper heroes, grilled chicken, steak, pork chops, pasta or anything else you can imagine, we can cook it in our mobile wood fired brick oven.  At Dominic's NY Pizza we love what we do and it shows in the quality and taste of our food.  Book us for your private party, neighborhood function, event or festival. <br> 
We look forward to helping make your event one to remember!</p>

</div>
	</div>