<div class="container">
    <section class="slider" >
   <!--  <button class="next"><img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/3d-transparent-glass-icons-arrows/006764-3d-transparent-glass-icon-arrows-arrowhead-solid-right.png" alt=""></button>
        <button class="prev">Previous</button>

 -->


  <div class="imglinkd">
      <ul rn-carousel rn-carousel-controls rn-carousel-index="carouselIndex" rn-carousel-buffered rn-carousel-auto-slide rn-carousel-controls-allow-loop rn-carousel-transition="fadeAndSlide" style="margin: 50px auto; text-align: center; min-height: 500px;" class="image" ng-controller="PhotoCtrl" height="auto" width="70%">
          <li ng-repeat="po in photos | orderBy:'-createdAt'">
              <img style="padding: 10px;
        border: 2px solid hsla(36, 62%, 80%, 1);" class="layer" ng-src="{{ po.imglink }}">
          </li>
      </ul>
  </div>
  </section>
  </div>
<!-- 
 <img class="next" src="images/arrownext.png" style="z-index: 1;">
  <img class="prev" src="images/arrowprev.png" style="z-index: 1;">

 
        <div class="containergal">
          
            <div ng-repeat="po in photos | orderBy: createdAt" style="display: none;">
                <img ng-src="{{po.imglink}}"/>
                
            </div>


            
        
            </div>
    </section>
</div>


<script>
  var currentIndex = 0,
  items = $('.containergal div'),
  itemAmt = items.length;

function cycleItems() {
  var item = $('.containergal div').eq(currentIndex);
  items.hide();
  item.css('display','inline-block');
}

var autoSlide = setInterval(function() {
  currentIndex += 1;
  if (currentIndex > itemAmt - 1) {
    currentIndex = 0;
  }
  cycleItems();
}, 3000);

$('.next').click(function() {
  clearInterval(autoSlide);
  currentIndex += 1;
  if (currentIndex > itemAmt - 1) {
    currentIndex = 0;
  }
  cycleItems();

});

$('.prev').click(function() {
  clearInterval(autoSlide);
  currentIndex -= 1;
  if (currentIndex < 0) {
    currentIndex = itemAmt - 1;
  }
  cycleItems();
});

</script> -->