<div class="container">
    <div class="home">
        <iframe src="https://player.vimeo.com/video/105662326?autoplay=0&title=0&byline=0&portrait=0" width="750" height="422" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    </div>
    <br><br><br><br>
<div class="about" >

	<h2>About Us</h2>	

	<p>
Dominic, owner of Dominic's NY Pizza has over 20 years of experience in the restaurant business cooking Italian food.  Dominic grew up working in family owned Italian restaurants and from a young age he knew cooking and serving food was his life's passion.  Dominic believes that every ingredient used in every dish from appetizers through entrees to desserts is important enough to be made from fresh ingredients with loving care from someone who loves what he does.  Competitive pricing is our goal while continuing to use nothing but the highest quality ingredients.  Our ingredients are fresh and used in family recipes handed down for generations.  We make our dough fresh daily, buy and slice our own meat, make our own meatballs from scratch, crush our own imported Sicilian tomatoes by hand and refuse to use processed ingredients. <br>
<div class="readMore"><a href="#/about">Read More</a></div>
		
	</div>

 <div class="events" ng-controller="EventsCtrl" style="    background-image: url(/images/oven2.png);
padding: 20px;width: 100%;">
    <h2>Upcoming Events</h2>
        <ul >
            <li>	
                 Truck and Tap <br>
11am-9pm;<br> EVERY THURSDAY <br>
8640 Mainstreet, Woodstock GA <br>

            </li>
        </ul>
    </div>



</div>
