<div class="container">
    <div class="menu">
        <h1>Our Menu</h1>
        <div class="apps">
            <h2>Appitizers</h2>
            <div class="row">
                <!-- row 1 for Appitizers -->
                <div class="medium-12 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="calstrm">
            <h2>Calzones and Strumboles</h2>
            <div class="row">
                <!-- row 1 for CAL AND STRM -->
                <div class="medium-6 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-6 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pizza">
            <h2>9" Pizza's</h2>
            <div class="row">
                <!-- row 1 for PIZZA -->
                <div class="medium-3 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-3 columns">
                   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-3 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-3 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- row 2 for PIZZA-->
                <div class="medium-3 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-3 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-3 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-3 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="medium-6 columns">
                    <h3>Garlic Knots</h3>
                    <img src="/images/garlicknots.jpg">
                </div>
                <div class="medium-6 columns">
                    <h3>Garlic Knots</h3>
                    <img src="/images/garlicknots.jpg">
                </div>
            </div> -->
        </div>
        <div class="deserts">
            <h2>Deserts</h2>
            <div class="row">
                <!-- row 1 for DESERTS-->
                <div class="medium-6 columns">
                   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-6 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                            <h3>Garlic Knots (5)</h3>
                            <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
