<div class="container">
    <div class="menu">
        <h1>Our Menu</h1>
        <div class="apps">
            <h2>Appetizers</h2>
            <div class="row">
                <!-- row 1 for Appitizers -->
                <div class="medium-12 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Garlic Knots</h3>
                                <img src="/images/garlicknots.jpg">
                            </div>
                            <div class="back">
                                <h3>Garlic Knots (5)</h3>
                                <p>Garlic, oil and parmigiana cheese with marinara sauce on the side</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="calstrm">
            <h2>Calzones and Strumboles</h2>
            <div class="row">
                <!-- row 1 for CAL AND STRM -->
                <div class="medium-6 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Calzone</h3>
                                <img src="/images/calzone.jpg">
                            </div>
                            <div class="back">
                                <h3>Calzone</h3>
                                <p>- Cheese
                                    <br> - Cheese and Pepperoni
                                    <br> ​
                                    <i>- All calzones are served with marinara sauce on the side</i>
                                    <br> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-6 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>Stromboli</h3>
                                <img src="/images/stromboli.jpg">
                            </div>
                            <div class="back">
                                <h3>Stromboli</h3>
                                <p>  - Cheese <br>- Cheese and Pepperoni ​
                                   <br> <i>All strombolis are served with marinara sauce on the side</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pizza">
            <h2>9" Pizza's</h2>
            <div class="row">
                <!-- row 1 for PIZZA -->
                <div class="medium-3 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>The Bronx</h3>
                                <img src="/images/thebronx.jpg">
                            </div>
                            <div class="back">
                                <h3>The Bronx</h3>
                                <p>Parmigiana, shredded and fresh mozzarella, cheese, ricotta, garlic and oil, no sauce</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-3 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>The Brooklyn</h3>
                                <img src="/images/thebrok.jpg">
                            </div>
                            <div class="back">
                                <h3>The Brooklyn</h3>
                                <p>Sausage, bell peppers and onions</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-3 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>The Manhattan</h3>
                                <img src="/images/theman.jpg">
                            </div>
                            <div class="back">
                                <h3>The Manhattan</h3>
                                <p>Cheese and Pepperoni</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-3 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>The Neapolitan</h3>
                                <img src="/images/thenep.jpg">
                            </div>
                            <div class="back">
                                <h3>The Neapolitan</h3>
                                <p>Fresh mozzarella, garlic, fresh basil and fresh tomatoes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- row 2 for PIZZA-->
                <div class="medium-4 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>The Queens</h3>
                                <img src="/images/thequeens.jpg">
                            </div>
                            <div class="back">
                                <h3>The Queens</h3>
                                <p>A cheese pizza</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-4 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>The Staten Island</h3>
                                <img src="/images/thestatan.jpg">
                            </div>
                            <div class="back">
                                <h3>The Staten Island</h3>
                                <p>Pepperoni, Bacon, and Sausage​</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-4 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>The Vegan</h3>
                                <img src="/images/thevegan.jpg">
                            </div>
                            <div class="back">
                                <h3>The Vegan</h3>
                                <p>Includes your choice of three toppings: onions, spinach, mushrooms, tomatoes or black olives</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="toppings">
            <h3>Additional Toppings</h3>
            <p>Bacon, fresh basil, bell peppers, black olives,
extra cheese, fresh mozzarella, garlic, jalapeno peppers, meatball, mushrooms, onions,
parmigiana cheese, pepperoni, ricotta,
sausage, salami, spinach and tomatoes</p>
            </div>
            <!-- <div class="row">
                <div class="medium-6 columns">
                    <h3>Garlic Knots</h3>
                    <img src="/images/garlicknots.jpg">
                </div>
                <div class="medium-6 columns">
                    <h3>Garlic Knots</h3>
                    <img src="/images/garlicknots.jpg">
                </div>
            </div> -->
        </div>
        <div class="deserts">
            <h2>Deserts</h2>
            <div class="row">
                <!-- row 1 for DESERTS-->
                <div class="medium-6 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3 class="cookie">Italian Rainbow Cookies</h3>
                                <img src="/images/italian.jpg">
                            </div>
                            <div class="back">
                                <h3>Italian Rainbow Cookies</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-6 columns">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <h3>NY Style Cheescake</h3>
                                <img src="/images/cheesecake.jpg">
                            </div>
                            <div class="back">
                                <h3>NY Style Cheescake</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="catering">
            <h3>Our Catering Menu</h3>
                <h4> <a href="http://f.cl.ly/items/1H2w013H0M3Z1F0b3i2x/Catering%20Menu%202015.pdf">Click To Download</a></h4>
        </div>
    </div>
</div>
